<div class="sidenav">
  <div class="logo-container">
    <button class="logo-text">
      LOGO
    </button>
  </div>
  <div class="sidenav-nav" *ngIf="!breakpointState.matches">
    <div class="sidenav-link" ngbDropdown>
      <button class="sidenav-link-btn" ngbDropdownToggle id="dropdown-1">
        <fa-icon [icon]="eventsIcon"></fa-icon>
        Events
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown-1">
        <button ngbDropdownItem class="sidenav-link-btn sub-menu">
          <fa-icon [icon]="listIcon"></fa-icon>
          <a [routerLink]="''">Events List</a>
        </button>
        <button ngbDropdownItem class="sidenav-link-btn sub-menu">
          <fa-icon [icon]="createIcon"></fa-icon>
          <a [routerLink]="'new'">Create New</a>
        </button>
      </div>
    </div>
    <div class="sidenav-link">
      <button class="sidenav-link-btn">
        <fa-icon [icon]="logoutIcon"></fa-icon>
        <a [routerLink]="'logout'">Logout</a>
      </button>
    </div>
  </div>
  <div class="sidenav-nav-mobile" *ngIf="breakpointState.matches">
    <div>
      <button class="hamburger hamburger--elastic" type="button" appHamburgerToggle (click)="toggleHamburgerMenu()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="hamburger-menu" [ngClass]="openMenu ? 'hamburger-menu-transform' : ''">
      <div>
        <ul>
          <li><a [routerLink]="''" (click)="toggleHamburgerMenu()">Event List</a></li>
          <li><a [routerLink]="'new'" (click)="toggleHamburgerMenu()">Create Event</a></li>
          <li><a [routerLink]="'logout'" (click)="toggleHamburgerMenu()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
