.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .search-form {
    width: 100%;
  }

  .card {
    flex-direction: row;
    align-items: center;
    margin-top: 14px;

    &:first-child {
      margin-top: 24px;
    }
  }

  table {
    tbody {
      tr {
        td {
          vertical-align: top;
          text-align: left;
        }
      }
    }
  }
}
