<div class="content">
  <div class="card">
    <div class="title">
      <span>Create New Event</span>
    </div>
  </div>
  <div class="card">
    <form class="row g-3" [formGroup]="create" autocomplete="off">
      <div class="col-md-12">
        <label for="nameInput" class="form-label">Name</label>
        <input id="nameInput" class="form-control" type="text" formControlName="eventName" placeholder="Event name">
      </div>
      <div class="col-md-6">
        <label for="dateFromInput" class="form-label">Date From</label>
        <div>
          <input id="dateFromInput" class="form-control date-from-input" placeholder="Start date" ngbDatepicker
            #f="ngbDatepicker" formControlName="dateFrom" [ngClass]="f.isOpen() ? 'border-blue-bottom' : ''">
          <button (click)="f.toggle()" type="button" class="date-button">
            <fa-icon [icon]="dateFromIcon"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <label for="dateToInput" class="form-label">Date To</label>
        <div>
          <input id="dateToInput" class="form-control date-to-input" placeholder="End date" ngbDatepicker
            #t="ngbDatepicker" formControlName="dateTo" [ngClass]="t.isOpen() ? 'border-blue-bottom' : ''">
          <button (click)="t.toggle()" type="button" class="date-button">
            <fa-icon [icon]="dateToIcon"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-md-8">
        <label for="descriptionInput" class="form-label">Description</label>
        <textarea id="descriptionInput" class="form-control" type="text" formControlName="description"
          placeholder="Enter event description" rows="3"></textarea>
      </div>
      <div class="col-md-4">
        <label for="timeInput" class="form-label">Timing</label>
        <input id="timeInput" class="form-control" type="text" placeholder="Event timing" formControlName="time">
      </div>
      <div class="col-md-6">
        <div class="subevent-title-card">
          <span *ngIf="subEvents.length >= 1">Sub Event</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="subevent-button-card">
          <button (click)="openSubEventDialog()">Add Sub Event</button>
        </div>
      </div>
      <div class="col-md-12" *ngIf="subEvents.length >= 1">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of subEvents; let i = index">
              <td>
                <div>
                  {{item.name}}
                </div>
              </td>
              <td>
                <div>
                  {{formatDateFromUTC(item.dateFrom)}} to {{formatDateFromUTC(item.dateTo)}}
                </div>
                <div>
                  {{item.time}}
                </div>
              </td>
              <td>
                <div class="td-description">
                  {{item.description}}
                </div>
              </td>
              <td class="btn-del-container">
                <button class="btn-del" (click)="deleteSubEvent(i)">
                  <fa-icon [icon]="closeIcon"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <button class="btn-submit" [disabled]="!create.valid" type="submit" (click)="createEvent()">submit</button>
      </div>
    </form>
  </div>
</div>