.main-content {
  margin-left: 9rem;
  width: calc(100% - 9rem);
}

@media (max-width: 767px) {
  .main-content {
    margin-left: unset;
    margin-top: 5rem;
    height: calc(100% - 5rem);
    width: 100%;
  }
}