/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

.front-end {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:visited {
      color: inherit;
    }
  }
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
  background-color: #e9e9e9;
}
