<div class="content">
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">Add Sub Event</div>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <form class="row g-3" [formGroup]="event" autocomplete="off">
      <div class="col-md-12">
        <label for="nameInput" class="form-label">Name *</label>
        <input id="nameInput" class="form-control" type="text" formControlName="name" placeholder="Event name"
          #inputname>
        <div *ngIf="inputname.value.length < 5 && inputname.value.length !== 0" class="error-message">
          Event name must be more than 5
        </div>
      </div>
      <div class="col-md-6">
        <label for="dateFromInput" class="form-label">Date From *</label>
        <div>
          <input id="dateFromInput" class="form-control date-from-input" placeholder="Start date" ngbDatepicker
            #f="ngbDatepicker" formControlName="dateFrom" [ngClass]="f.isOpen() ? 'border-blue-bottom' : ''">
          <button (click)="f.toggle()" type="button" class="date-button">
            <fa-icon [icon]="dateFromIcon"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <label for="dateToInput" class="form-label">Date To *</label>
        <div>
          <input id="dateToInput" class="form-control date-to-input" placeholder="End date" ngbDatepicker
            #t="ngbDatepicker" formControlName="dateTo" [ngClass]="t.isOpen() ? 'border-blue-bottom' : ''">
          <button (click)="t.toggle()" type="button" class="date-button">
            <fa-icon [icon]="dateToIcon"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-md-8">
        <label for="descriptionInput" class="form-label">Description *</label>
        <textarea id="descriptionInput" class="form-control" type="text" formControlName="description"
          placeholder="Enter event description" rows="3"></textarea>
      </div>
      <div class="col-md-4">
        <label for="timeInput" class="form-label">Event Time (optional)</label>
        <input id="timeInput" class="form-control" type="text" placeholder="Event timing" formControlName="time">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()" [disabled]="!event.valid">Add Sub Event</button>
  </div>
</div>